<section class="blog">
  <div class="container">
    <div class="blog-card">
      <div class="blog-card__article">
        <img
        loading="lazy"
        src="./assets/images/about-page/blog/Rectangle-34.jpg"
        width="584"
        height="751"
        alt="chairs and laptop"
        class="blog-card__img"
        />

        <div class="blog-card__text">
          <a href="" class="blog-card__link">How we perform long-running tasks using AWS services</a>
          <p class="blog-card__description">
            Webflow is web design tool as well as a hosting platform and CMS all in one.
            While you are probably familiar with all of these,
            they are usually entirely separate tools.
          </p>
        </div>
      </div>   
      <div class="blog-card__article">
        <img
        loading="lazy"
        src="./assets/images/about-page/blog/Rectangle-35.png"
        width="584"
        height="507"
        alt="chairs and laptop"
        class="blog-card__img"
        />

        <div class="blog-card__text">
          <a href="" class="blog-card__link">How to ask when doing User Research</a>
          <p class="blog-card__description">
            Bro, the story is that you want to make an application
            for buying and selling goods on the market.
            During user research, what do you think you will ask people?
          </p>
        </div>
      </div>   
      <div class="blog-card__article blog-card__article--lower">
        <img
        loading="lazy"
        src="./assets/images/about-page/blog/Rectangle 37.jpg"
        width="584"
        height="751"
        alt="chairs and laptop"
        class="blog-card__img"
        />

        <div class="blog-card__text">
          <a href="" class="blog-card__link">Layout Exploration — Simple exercise but big effect</a>
          <p class="blog-card__description">
            Make alternatives or other options for the design we are making.
            For example, we are creating a website design. Then there is the testimonial section.
          </p>
        </div>
      </div>   
      <div class="blog-card__article">
        <img
        loading="lazy"
        src="./assets/images/delovoy-men.png"
        width="584"
        height="751"
        alt="chairs and laptop"
        class="blog-card__img"
        />

        <div class="blog-card__text">
          <a href="" class="blog-card__link">Webflow Break the Coding Barrier</a>
          <p class="blog-card__description">
            Webflow is web design tool as well as a hosting platform and CMS all in one.
            While you are probably familiar with all of these, they are usually entirely separate tools.
          </p>
        </div>
      </div>   

    </div>
  </div>
</section>