<section class="hero">
  <div class="container">
    <div class="hero__text">
      <div class="hero__top">
        <h2 class="hero__title heading-h2">Activity & Updates</h2>
      </div>
      
      <div class="hero__bottom">
        <p class="hero__subtitle text-p-subtitle">
          Our biggest challenge is making
          sure we're always designing and
          building products that will help
          you run your business better.
        </p>
      </div>
    </div>
    <div class="swiper hero__slider">
      <nav class="hero__nav">
        <ul class="hero__nav-list">
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              View all
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Design
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Articles
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Product
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Software Development
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Customer Success
            </a>
          </li>
        </ul>
      </nav>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/women-notebook.png"
            width="515"
            height="428"
            alt="men typing on laptop and wrting on a notebook"
          />
          <div class="hero__slide-text">
            <div class="hero__slide-text__date">
              <p>Published in Insight Jan 30, 2021</p>
              <p>by : Albert Sans</p>
            </div>
            <h3>Practice making User Flow</h3>
            <p>
              In this article, we'll cover how to create user flows
            </p>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide-article">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/two-women.png"
            width="515"
            height="428"
            alt="conf"
          />
          <div class="hero__slide-text">
            <div class="hero__slide-text__date">
              <p>Published in Insight Jan 30, 2021</p>
            </div>
            <h3>Overview of the Design Principles</h3>
            <p>
              What are Design Principles?… To understand design principles, we first discuss the principles. 
            </p>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide-article">
          <img
            loading="lazy"
            class="hero__slide-img"
            src="./assets/images/women-men.jpg"
            width="515"
            height="428"
            alt="conf"
          />
          <div class="hero__slide-text">
            <div class="hero__slide-text__date">
              <p>Published in Insight Jan 30, 2021</p>
            </div>
            <h3>Using Grid in website design</h3>
            <p>
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
        
      </div>
      <div class="hero__pagination"></div>
    </div>
  </div>
</section>