<section class="hero">
  <div class="container">
    <div class="hero__text">
      <div class="hero__top">
        <h2 class="hero__title heading-h2">Activity & Updates</h2>
      </div>
      
      <div class="hero__bottom">
        <p class="hero__subtitle text-p-subtitle">
          Our biggest challenge is making
          sure we're always designing and
          building products that will help
          you run your business better.
        </p>
      </div>
    </div>
    <div class="swiper hero__slider">
      <nav class="hero__nav">
        <ul class="hero__nav-list">
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              View all
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Design
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Articles
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Product
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Software Development
            </a>
          </li>
          <li class="hero__nav-item">
            <a href="#" class="hero__nav-link">
              Customer Success
            </a>
          </li>
        </ul>
      </nav>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/images/team-slider1.jpg"
            width="502"
            height="629"
            alt="men typing on laptop and wrting on a notebook"
          />
        </div>
        <div class="swiper-slide hero__slide hero__slide-article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/team-slider2.jpg"
            width="502"
            height="300"
            alt="conf"
          />
          <div class="hero__slide-text">
            <h3>What we believe in</h3>
            <p>
                Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are.
                The qualities that unite us, that make us such an effective team, and...
            </p>
            <button class="hero__btn button-form">
              See Details ->
            </button>
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <img
          loading="lazy"
          class="insight__article-img"
          src="./assets/images/team3.jpg"
          width="506"
          height="460"
          alt="women"
        />
        </div>
        <div class="swiper-slide hero__slide">
          <img
            loading="lazy"
            class="insight__article-img"
            src="./assets/images/team-slider1.jpg"
            width="502"
            height="629"
            alt="men typing on laptop and wrting on a notebook"
          />
        </div>
        <div class="swiper-slide hero__slide hero__slide-article">
          <img
            loading="lazy"
            class="hero__article-img"
            src="./assets/images/team-slider2.jpg"
            width="502"
            height="300"
            alt="conf"
          />
          <div class="hero__slide-text">
            <h3>What we believe in</h3>
            <p>
                Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are.
                The qualities that unite us, that make us such an effective team, and...
            </p>
            <button class="hero__btn button-form">
              See Details ->
            </button>
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <img
          loading="lazy"
          class="insight__article-img"
          src="./assets/images/team3.jpg"
          width="506"
          height="460"
          alt="women"
        />
        </div>
      </div>
      <div class="hero__pagination"></div>
    </div>
  </div>
</section>