.partners {
  padding: 108px 0;

  @include mobile {
    padding: 76px 0;
  }

  &__container {
    @include flex-all-between;
    gap: 30px;
    max-width: 1110px;

    @include tablet {
      display: block;
      
    }
  }

  &__title {
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);
    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);
    }

    @include tablet {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  &__list {
    min-width:0;
    gap:20px 0px;
    flex-wrap: wrap;
  @include tablet {
    gap: 0px;
    flex-wrap:nowrap;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 160px !important;
    height: 90px;
    background-color: #fff;
  }

  
 }


}

.partners__slider{
  max-width: 100%;
}