<section class="hero hero-decor">
  <div class="container">
    <div class="hero__top">
      <h2 class="hero__title heading-h2">Everything you need to get the attention of your audience</h2>
    </div>
  
    <div class="hero__bottom">
      <p class="hero__subtitle text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain successful
        digital marketing strategies across all channels. Also work with you
        to build your website and create online businesses that grow.
      </p>
    </div>

  </div>
</section>