<section class="our-team">
  <div class="container">
    <div class="our-team__text">
      <h2 class="our-team__text-heading heading-h3">
        Meet our team of creators, designers, and world-class problem solvers
      </h2>
      <p class="our-team__text-p">
        To become the company that customers want,
        it takes a group of passionate people.
        Get to know the people who lead
      </p>
    </div>

 
    <div class="swiper our-team-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide our-team-slider__slide">
          <img
            loading="lazy"
            class="our-team-slider__img"
            src="./assets/images/team-page-slider/slide1.jpg"
            width="379"
            height="434"
            alt="men typing on laptop and wrting on a notebook"
          />
  
          <div class="our-team-slider__info">
            <div class="our-team-slider__contacts">
              <div class="our-team-slider__name">Arlyne Stefano</div>
              <div class="our-team-slider__social">
                <span class="our-team-slider__icon">
                  <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path.svg"
                      width="16"
                      height="16"
                      alt="twitter icon"
                      />      
                </span>
                <span class="our-team-slider__icon">
                  <img
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/icons/socials/Path-1.svg"
                    width="16"
                    height="16"
                    alt="linkedin icon"
                  />
                </span>
  
                <span class="our-team-slider__icon">
                    <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path-2.svg"
                      width="16"
                      height="16"
                      alt="instagramm icon"
                    />
                </span>
              </div>
            </div>
  
            <div class="our-team-slider__job">
              Founder & CEO
            </div>
          </div>
        </div>
        
        <div class="swiper-slide our-team-slider__slide">
          <img
            loading="lazy"
            class="our-team-slider__img"
            src="./assets/images/team-page-slider/slide3.jpg"
            width="379"
            height="434"
            alt="men typing on laptop and wrting on a notebook"
          />
  
          <div class="our-team-slider__info">
            <div class="our-team-slider__contacts">
              <div class="our-team-slider__name">Katy Cristy</div>
              <div class="our-team-slider__social">
                <span class="our-team-slider__icon">
                  <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path.svg"
                      width="16"
                      height="16"
                      alt="twitter icon"
                      />      
                </span>
                <span class="our-team-slider__icon">
                  <img
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/icons/socials/Path-1.svg"
                    width="16"
                    height="16"
                    alt="linkedin icon"
                  />
                </span>
  
                <span class="our-team-slider__icon">
                    <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path-2.svg"
                      width="16"
                      height="16"
                      alt="instagramm icon"
                    />
                </span>
              </div>
            </div>
  
            <div class="our-team-slider__job">
              Chief Technology Officer
            </div>
          </div>
        </div>

        <div class="swiper-slide our-team-slider__slide">
          <img
            loading="lazy"
            class="our-team-slider__img"
            src="./assets/images/team-page-slider/slide2.jpg"
            width="379"
            height="434"
            alt="men typing on laptop and wrting on a notebook"
          />
  
          <div class="our-team-slider__info">
            <div class="our-team-slider__contacts">
              <div class="our-team-slider__name">Roger Dzawin</div>
              <div class="our-team-slider__social">
                <span class="our-team-slider__icon">
                  <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path.svg"
                      width="16"
                      height="16"
                      alt="twitter icon"
                      />      
                </span>
                <span class="our-team-slider__icon">
                  <img
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/icons/socials/Path-1.svg"
                    width="16"
                    height="16"
                    alt="linkedin icon"
                  />
                </span>
  
                <span class="our-team-slider__icon">
                    <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path-2.svg"
                      width="16"
                      height="16"
                      alt="instagramm icon"
                    />
                </span>
              </div>
            </div>
  
            <div class="our-team-slider__job">
              Chief Technology Officer
            </div>
          </div>
        </div>
        <div class="swiper-slide our-team-slider__slide">
          <img
            loading="lazy"
            class="our-team-slider__img"
            src="./assets/images/team-page-slider/slide1.jpg"
            width="379"
            height="434"
            alt="men typing on laptop and wrting on a notebook"
          />
  
          <div class="our-team-slider__info">
            <div class="our-team-slider__contacts">
              <div class="our-team-slider__name">Arlyne Stefano</div>
              <div class="our-team-slider__social">
                <span class="our-team-slider__icon">
                  <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path.svg"
                      width="16"
                      height="16"
                      alt="twitter icon"
                      />      
                </span>
                <span class="our-team-slider__icon">
                  <img
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/icons/socials/Path-1.svg"
                    width="16"
                    height="16"
                    alt="linkedin icon"
                  />
                </span>
  
                <span class="our-team-slider__icon">
                    <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path-2.svg"
                      width="16"
                      height="16"
                      alt="instagramm icon"
                    />
                </span>
              </div>
            </div>
  
            <div class="our-team-slider__job">
              Founder & CEO
            </div>
          </div>
        </div>

        <div class="swiper-slide our-team-slider__slide">
          <img
            loading="lazy"
            class="our-team-slider__img"
            src="./assets/images/team-page-slider/slide3.jpg"
            width="379"
            height="434"
            alt="men typing on laptop and wrting on a notebook"
          />
  
          <div class="our-team-slider__info">
            <div class="our-team-slider__contacts">
              <div class="our-team-slider__name">Katy Cristy</div>
              <div class="our-team-slider__social">
                <span class="our-team-slider__icon">
                  <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path.svg"
                      width="16"
                      height="16"
                      alt="twitter icon"
                      />      
                </span>
                <span class="our-team-slider__icon">
                  <img
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/icons/socials/Path-1.svg"
                    width="16"
                    height="16"
                    alt="linkedin icon"
                  />
                </span>
  
                <span class="our-team-slider__icon">
                    <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path-2.svg"
                      width="16"
                      height="16"
                      alt="instagramm icon"
                    />
                </span>
              </div>
            </div>
  
            <div class="our-team-slider__job">
              Chief Technology Officer
            </div>
          </div>
        </div>

        <div class="swiper-slide our-team-slider__slide">
          <img
            loading="lazy"
            class="our-team-slider__img"
            src="./assets/images/team-page-slider/slide2.jpg"
            width="379"
            height="434"
            alt="men typing on laptop and wrting on a notebook"
          />
  
          <div class="our-team-slider__info">
            <div class="our-team-slider__contacts">
              <div class="our-team-slider__name">Roger Dzawin</div>
              <div class="our-team-slider__social">
                <span class="our-team-slider__icon">
                  <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path.svg"
                      width="16"
                      height="16"
                      alt="twitter icon"
                      />      
                </span>
                <span class="our-team-slider__icon">
                  <img
                    loading="lazy"
                    class="insight__article-img"
                    src="./assets/icons/socials/Path-1.svg"
                    width="16"
                    height="16"
                    alt="linkedin icon"
                  />
                </span>
  
                <span class="our-team-slider__icon">
                    <img
                      loading="lazy"
                      class="insight__article-img"
                      src="./assets/icons/socials/Path-2.svg"
                      width="16"
                      height="16"
                      alt="instagramm icon"
                    />
                </span>
              </div>
            </div>
  
            <div class="our-team-slider__job">
              Chief Technology Officer
            </div>
          </div>
        </div>
      </div>
      <div class="our-team-slider_pagination"></div>   
    </div>
   
      
  </div>
</section>