.our-team{
  &__text{
    max-width: 653px;
    margin-bottom: 80px;
    &-heading{
      margin-bottom: 24px;
    }
    &-p{
      max-width: 534px;
      font-weight: 500;
      line-height: 32px;
      font-size: 18px;
      color:var(--neutral-color-150)
    }
  }

  &-slider{
    &__slide{
      max-width: 379px;
    }

    &__info{
      display: flex;
      flex-direction: column;
      justify-items: center;
      
    }
    &__contacts{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__name{
      color:var(--neutral-color-100);
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
    }
    &__social{
      display: flex;
      gap:8px;
    }

    &__job{
      color:var(--neutral-color-150);
      font-weight: 500;
      font-size: 18px;
    }

    &__icon{
      display: flex;
      justify-content: center;
      align-items: center;
      padding:10px;
      border-radius: 100px;
      background-color:var(--ourTeam-icons);
    }

    &__img{
      margin-bottom: 16px;
    }
    
  }
}


.our-team-slider_pagination{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-top: 40px;
}